.onscroll_l{
    transform: translate(-50px, 0);
    transition: .7s;
    opacity: 0;
}
.onscroll_r{
    transform: translate(50px, 0);
    transition: .7s;
    opacity: 0;
}
.onscroll_t{
    transform: translate(0px, -60px);
    transition: .7s;
    opacity: 0;
}
.onscroll_d{
    transform: translate(0px, 60px);
    transition: .7s;
    opacity: 0;
}
